{% extends "base.html" %}

{% block title %}
Library
{% endblock %}

{% block content %}

<h1>My Quizzes</h1>

{% for quiz in quizzes %}

<div class="card text-center mb-4">

    <div class="card-header">
        Vocabulary Quiz
    </div>

    <div class="card-body">

        <h3 class="card-title">
            {{ quiz[1] }}
        </h3>

        <a href="/written_quiz/{{ quiz[0] }}"
        class="btn btn-pink btn-lg mr-2">
        Written Question Quiz
        </a>

        <a href="/multiple_choice_quiz/{{ quiz[0] }}"
        class="btn btn-pink btn-lg mr-2">
        Multiple Choice Quiz
        </a>

        <a href="/edit_quiz/{{ quiz[0] }}"
        class="btn btn-info btn-lg">
        Edit Quiz
        </a>

    </div>

</div>

{% endfor %}

{% endblock %}