{% extends "base.html" %}

{% block title %}
Written Quiz
{% endblock %}

{% block content %}

<h1>Written Question Quiz</h1>

<p>
    Question {{ question_number }} / {{ total_questions }}
</p>

<form method="POST">

    <div id="terms-container">

        <div class="row mb-3">

            <div class="col">
                <input
                    type="text"
                    class="form-control"
                    value="{{ word[1] }}"
                    readonly>
            </div>

            <div class="col">
                <input
                    type="text"
                    name="answer"
                    class="form-control"
                    placeholder="Definition / translation"
                    required>
            </div>

        </div>

    </div>

    <button type="submit" class="btn btn-pink btn-lg">
        Next
    </button>

</form>

{% endblock %}